{% extends "baseForParent.html.twig" %}
{% block title %}
    Consulter Notes
{% endblock %}

{% block mainContent %}
    {% if message is defined %}
        {{ message }}
    {% else %}
        <div>
            <div class="row col-xs-8">
                <h4><b>* Elève : </b>{{ nomPrenomEleve }}</h4>
            </div>
            <div class="row col-xs-4">
                <h4><b>* Matricule : </b>{{ matriculeEleve }}</h4>
            </div>
        </div>

        {% for i in 1..3 %}
            <center><h3>Annee Scolaire courante, Trimestre : {{ i }}</h3></center>
            <table border="1" class="table table-responsive">
                <tr class="table-header">
                    <td>Matiere</td>
                    <td>Note 1</td>
                    <td>Note 2</td>
                    <td>Note 3</td>
                    <td>Enseignant</td>
                </tr>
                {% for r in resultat %}
                    {% if r.trimestre == i %}
                        <tr>
                            <td>{{ r.matiere }}</td>
                            {% for i in 0..2 %}
                                {% if r.note[i] is not defined  %}
                                    <td> --- </td>
                                {% else %}
                                    <td> {{ r.note[i] | number_format("2", ".", ",") }} </td>
                                {% endif %}

                            {% endfor %}
                            <td>{{ r.nomenseignant.nomenseignant}} {{ r.nomenseignant.prenomenseignant }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}