{% extends "::baseForParent.html.twig" %}
{% block title %}
    Contacter Enseignant
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $("document").ready(function () {
            $("#tableEnseignant").dataTable();
            $(".btnMail").click(function () {
                $("#mailEnseignant").val($("#emailEnseignant").val());
                console.log("click");
                $("#mailContainer").slideDown("fast");
            });
        });
    </script>
{% endblock %}

{% block mainContent %}
    <center><h4><b>La liste des enseignants de votre(vos) élève(s)</b></h4></center>
    <hr class="hr-4">
    <div class="col-xs-12">
        <table class="table table-bordered" width="80%" id="tableEnseignant">
            <thead>
            <th>L'enseignant</th>
            <th>Enseigne votre enfant</th>
            <th>La matiere</th>
            <th>Contacter</th>
            </thead>
            <tbody>
            {% for l in listEnseignant %}
                <tr>
                    <td>{{ l.enseignant.nomenseignant }} {{ l.enseignant.prenomenseignant }}</td>
                    <td>{{ l.eleve.prenomeleve }} {{ l.eleve.nomeleve }}</td>
                    <td>{{ l.matiere.libellematiere }}</td>
                    <td><a href="{{ path('envoyerMail') }}?emailEnseignant={{ l.enseignant.emailenseignant }}"><input
                                    type="button" value="Envoyer un e-mail" class="btn btn-primary"></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <th>L'enseignant</th>
            <th>Enseigne votre enfant</th>
            <th>La matiere</th>
            <th>Contacter</th>
            </tfoot>
        </table>
    </div>
{% endblock %}