{% extends "baseForEnseignant.html.twig" %}
{% block title %}
    Saisir le cahier de texte
{% endblock %}
{% block script %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=cl575g9t4h7hx6y9gs3nywe1r5vw8fk08uqiyut2kvlo06xq"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false
        });

    </script>

    <script language="JavaScript">
        $("document").ready(function () {

            $("#mceu_22-0").hide();


            $("#sauvegarder").click(function () {

                var content = tinyMCE.activeEditor.getContent();
                // tinyMCE.activeEditor.setContent("") ;
                console.log(content);
                $("#sauvegarder").hide();
                $("#mySpinner").show();
                $.ajax({
                    url: "{{ path('insererNotesEnseignantAJAX') }}",
                    method: "GET",
                    data: {
                        "noteEnseinant": content,
                        "matiereGroupe": $("#matiereGroupe").val(),
                        "laDate": $("#laDate").val()
                    },
                    success: function (response) {
                        response = JSON.parse(response);
                        console.log(response.status);
                        if (response.status == "inserted") {

                            $("#mySpinner").hide();
                            $("#check").show();
                            setTimeout(function () {
                                $("#slideIt").slideUp();
                                tinyMCE.activeEditor.setContent("");
                            }, 2000);


                        }
                    }

                });


            });

            $("#matiereGroupe").change(function () {
                $("#slideIt").slideUp();
                $("#noteEnseignant").html("");
            });

            $("#btnCharger").click(function () {


                $("#sauvegarder").show();
                $("#check").hide();

                var matiereGroupe = $("#matiereGroupe").val();
                if (matiereGroupe == "null") {
                    $(".alert-danger").html("Veuillez sélectionner une matiere et groupe !");
                    $(".alert-danger").slideToggle();
                    setTimeout(function () {
                        $(".alert-danger").slideToggle();
                    }, 2500);

                } else {
                    $("#Classe").html("Date d'ajourd'hui : {{ date | date("d/m/Y") }}");
                    $("#slideIt").slideDown();
                }
            });


        });


    </script>
{% endblock %}
{% block mainContent %}

    <hr class="hr-4">

    <div class="alert alert-danger" style="display: none"></div>

    <div class="col-xs-12" align="center">

        <div class="row">

            <select id="matiereGroupe">
                <option value="null">Sélectionner une matiere</option>

                {% for matiere in listMatiere %}

                    <option value="{{ matiere.matiere.id }}|{{ matiere.groupe.id }}">{{ matiere.matiere.libelleMatiere }}
                        - {{ matiere.groupe.nomGroupe }} {{ matiere.groupe.numGroupe }}</option>


                {% endfor %}

            </select>
            <input type="button" value="Charger une page vide" class="btn btn-primary" id="btnCharger">

        </div>

        <div id="slideIt" style="display: none; margin-top: 25px;">

            <p id="Classe" style="font-size: 18px"></p>

            <div class="row" align="center" id="container" style="margin-top:25px">

                <input type="hidden" value="{{ date | date("d/m/Y") }}" name="laDate" id="laDate">
                <textarea id="noteEnseignant"></textarea>


            </div>
            <div class="row" align="center" style="margin-top:25px">
                <i class="fa fa-check green bigger-300" id="check" style="display: none"></i>
                <i class="ace-icon fa fa-spin fa-refresh blue bigger-300" id="mySpinner" style="display: none"></i>
                <input type="button" class="btn btn-primary" id="sauvegarder" value="Sauvegarder">
            </div>

        </div>


    </div>


{% endblock %}



