{% extends "::baseForAdmin.html.twig" %}

{% block title %}
    Lister eleves par groupe
{% endblock %}


{% block script %}
    <script language="JavaScript">
        $("document").ready(function () {
            $("#tableEleve").dataTable();
        });
    </script>
{% endblock %}
{% block mainContent %}

    <hr class="hr-4">
    <div class="col-xs-12">
        <div class="row">
            <hr class="hr-2">
            <div class="row">

                {% if listEleve|length == 0 %}


                    <div class="alert alert-warning" align="center">
                        <h2>Ce groupe est vide !</h2>
                        <br>
                        <h4>Lister les élèves et les affecter d'abord !</h4>
                        <a href="{{ path('listerEleves') }}">Lister les élèves</a>
                    </div>



                {% else %}
                    <table id="tableEleve" cellspacing="0" width="80%">
                        <thead>
                        <tr class="table-header">
                            <th>Matricule élève</th>
                            <th>Nom élève</th>
                            <th>Prénom élève</th>
                            <th>Date naissance</th>
                            <th>Sexe</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Matricule élève</th>
                            <th>Nom élève</th>
                            <th>Prénom élève</th>
                            <th>Date naissance</th>
                            <th>Sexe</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for eleve in listEleve %}
                            <tr>
                                <td>{{ eleve.matriculeEleve }}</td>
                                <td>{{ eleve.nomEleve }}</td>
                                <td>{{ eleve.prenomEleve }}</td>
                                <td>{{ eleve.dateNaissanceEleve | date("d-m-Y") }}</td>
                                <td>{{ eleve.sexeEleve }}</td>


                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}