{% extends "baseForAdmin.html.twig" %}

{% block title %}
    La liste des parents
{% endblock %}

{% block mainContent %}
    <hr class="hr-4">
    <div class="col-xs-12">
        <center><h4>La liste des parents</h4></center>
        <table class="table table-bordered" border="1" width="80%">
            <tr class="table-header">
                <td>Nom&Prenom</td>
                <td>CIN</td>
                <td>Num Tel</td>
                <td>Adresse</td>
                <td>Fonction</td>
                <td>E-mail</td>
                <td>Opérations</td>
            </tr>
            {% for l in listParent %}
                <tr>
                    <td>{{ l.nomParent }} {{ l.prenomParent }}</td>
                    <td>{{ l.cinParent }}</td>
                    <td>{{ l.numTelParent }}</td>
                    <td>{{ l.adresseParent }}</td>
                    <td>{{ l.fonctionParent }}</td>
                    <td>{{ l.emailParent }}</td>
                    <td><a href="{{ path('consulterPaiements') }}?idParent={{ l.id }}">Paiements</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}